.contacts {
    padding: 50px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
        padding: 20px;
        input {
            margin-bottom: 15px;
            padding: 8px 10px;
            width: 90%;
            height: 40px;
            border-radius: 5px;
            background-color: rgba(255,255,255,0.1);
            border: none;
            font-size: 16px;
            color: #fff;
            &::placeholder {
                color: rgba(255,255,255,0.5);
            }
            &:focus-visible {
                outline: rgba(255,255,255,0.5);
                box-shadow: 0px 0px 15px rgba(229, 223, 223, 0.5);
            }
        }
        p {
            font-size: 12px;
            text-align: left;
        }
        a {
            color: aquamarine;
        }
        button {
            position: absolute;
            bottom: 15px;
            right: 57px;
            padding: 5px 12px;
            background-color: inherit;
            color: aquamarine;
            font-size: 20px;
            border-radius: 3px;
            border: 1px solid aquamarine;
            cursor: pointer;
            transition: all .4s ease;
            &:hover {
                box-shadow: 0 0 15px aquamarine;
            }
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #fff;
            background: rgba(51, 51, 51, 0.9) url('../../../img/BvMu.gif') center / 50px no-repeat;
            opacity: 0;
            visibility: hidden;
            transition: all ease .5s;
        }
        &._sending &::after {
            opacity: 1;
            visibility: visible;
        }
    }
}

form._err {
    input._err {
        box-shadow: 0 0 15px red;
    }
}

#map {
    z-index: 1;
    position: static;
    margin-bottom: 50px;
    width: 600px;
    height: 400px;
}

@media screen and (max-width: 1320px) {
    .contacts {
        form {
            button {
                left: 18px;
                width: 50%;
                bottom: -30px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .contacts {
        &__title {
            margin-bottom: 30px;
        }
        &__wrapper {
            flex-direction: column;
        }
        form {
            margin-bottom: 70px;
            width: 80%;
            button {
                left: 54%;
                width: 32%;
                bottom: 10px;
            }
        }
        #map {
            margin-bottom: 0;
            width: 700px;
        }
    }
}

@media (max-width: 991px) {
    .contacts {
        padding: 40px 0 30px;
        #map {
            width: 460px;
        }
    }
}

@media (max-width: 767px) {
    .contacts {
        form {
            width: 100%;
        }
    }
}

@media (max-width: 545px) {
    .contacts {
        form {
            margin-bottom: 85px;
            padding: 0;
            input {
                font-size: 14px;
            }
            button {
                left: 0;
                width: 60%;
                bottom: -50px;
            }
        }
        #map {
            width: 300px;
            height: 260px;
        }
    }
}

@media (max-width: 345px) {
    #map {
        width: 100%;
    }
}

