#title {
    position: absolute;
    top: 48%;
    left: 40%;
    width: 45%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 1.5s;
}

#title path:nth-child(1) {
    stroke-dasharray: 479.7440490722656;
    stroke-dashoffset: 479.7440490722656;
    animation: line-anim 1s ease forwards;
}

#title path:nth-child(2) {
    stroke-dasharray: 265.32464599609375;
    stroke-dashoffset: 265.32464599609375;
    animation: line-anim 1s ease forwards;
}

#title path:nth-child(3) {
    stroke-dasharray: 111.55448913574219;
    stroke-dashoffset: 111.55448913574219;
    animation: line-anim 1s ease forwards;
}

#title path:nth-child(4) {
    stroke-dasharray: 223.48800659179688;
    stroke-dashoffset: 223.48800659179688;
    animation: line-anim 1.2s ease forwards;
}

#title path:nth-child(5) {
    stroke-dasharray: 109.24287414550781;
    stroke-dashoffset: 109.24287414550781;
    animation: line-anim 1.2s ease forwards;
}

#title path:nth-child(6) {
    stroke-dasharray: 584.3162841796875;
    stroke-dashoffset: 584.3162841796875;
    animation: line-anim 1.2s ease forwards;
}

#title path:nth-child(7) {
    stroke-dasharray: 414.7200012207031;
    stroke-dashoffset: 414.7200012207031;
    animation: line-anim 1.2s ease forwards;
}

#title path:nth-child(8) {
    stroke-dasharray: 584.31640625;
    stroke-dashoffset: 584.31640625;
    animation: line-anim 1.2s ease forwards;
}

#title path:nth-child(9) {
    stroke-dasharray: 265.324951171875;
    stroke-dashoffset: 265.324951171875;
    animation: line-anim 1.2s ease forwards;
}

#title path:nth-child(10) {
    stroke-dasharray: 233.2159423828125;
    stroke-dashoffset: 233.2159423828125;
    animation: line-anim 1.2s ease forwards;
}

#title path:nth-child(11) {
    stroke-dasharray: 265.324951171875;
    stroke-dashoffset: 265.324951171875;
    animation: line-anim 1.2s ease forwards;
}

#title path:nth-child(12) {
    stroke-dasharray: 401.2374572753906;
    stroke-dashoffset: 401.2374572753906;
    animation: line-anim 1.2s ease forwards;
}

#title path:nth-child(13) {
    stroke-dasharray: 292.4442443847656;
    stroke-dashoffset: 292.4442443847656;
    animation: line-anim 1.2s ease forwards;
}

#title path:nth-child(14) {
    stroke-dasharray: 242.7374725341797;
    stroke-dashoffset: 242.7374725341797;
    animation: line-anim 1.4s ease forwards;
}

#title path:nth-child(15) {
    stroke-dasharray: 338.9682922363281;
    stroke-dashoffset: 338.9682922363281;
    animation: line-anim 1.4s ease forwards;
}

#title path:nth-child(16) {
    stroke-dasharray: 383.1575622558594;
    stroke-dashoffset: 383.1575622558594;
    animation: line-anim 1.4s ease forwards;
}

#title path:nth-child(17) {
    stroke-dasharray: 284.83697509765625;
    stroke-dashoffset: 284.83697509765625;
    animation: line-anim 1.4s ease forwards;
}

#title path:nth-child(18) {
    stroke-dasharray: 401.33270263671875;
    stroke-dashoffset: 401.33270263671875;
    animation: line-anim 1.4s ease forwards;
}

#title path:nth-child(19) {
    stroke-dasharray: 383.1576843261719;
    stroke-dashoffset: 383.1576843261719;
    animation: line-anim 1.4s ease forwards;
}

#title path:nth-child(20) {
    stroke-dasharray: 447.61260986328125;
    stroke-dashoffset: 447.61260986328125;
    animation: line-anim 1.4s ease forwards;
}

#title path:nth-child(21) {
    stroke-dasharray: 401.332763671875;
    stroke-dashoffset: 401.332763671875;
    animation: line-anim 1.4s ease forwards;
}

#title path:nth-child(22) {

    stroke-dasharray: 331.7951965332031;
    stroke-dashoffset: 331.7951965332031;
    animation: line-anim 1.4s ease forwards;
}

#title path:nth-child(23) {
    stroke-dasharray: 401.332763671875;
    stroke-dashoffset: 401.332763671875;
    animation: line-anim 1.4s ease forwards;
}

#title path:nth-child(24) {
    stroke-dasharray: 401.332763671875;
    stroke-dashoffset: 401.332763671875;
    animation: line-anim 1.4s ease forwards;
}

#title path:nth-child(25) {
    stroke-dasharray: 338.96453857421875;
    stroke-dashoffset: 338.96453857421875;
    animation: line-anim 1.4s ease forwards;
}

#title path:nth-child(26) {
    stroke-dasharray: 338.96453857421875;
    stroke-dashoffset: 338.96453857421875;
    animation: line-anim 1.4s ease forwards;
}

#title path:nth-child(27) {
    stroke-dasharray: 469.2531433105469;
    stroke-dashoffset: 469.2531433105469;
    animation: line-anim 1.4s ease forwards;
}

#title path:nth-child(28) {
    stroke-dasharray: 401.31939697265625;
    stroke-dashoffset: 401.31939697265625;
    animation: line-anim 1.4s ease forwards;
}

#title path:nth-child(29) {
    stroke-dasharray: 242.71856689453125;
    stroke-dashoffset: 242.71856689453125;
    animation: line-anim 1.4s ease forwards;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: #1d1d1d;
    }
    to {
        fill: #a33b82;
    }
}

@media (max-width: 991px) {
    #title {
        top: 46%;
        left: 58%;
        width: 70%;
    }
}

@media (max-width: 767px) {
    #title {
        left: 50%;
        width: 75%;
    }
}

@media (max-width: 545px) {
    #title {
        top: 35%;
        left: 50%;
        width: 80%;
    }
}
